.title{
    width: 200px;
    display : inline-block;
}

.highlight{
    color : red;
    background-color: lightyellow !important;
}

.btn, .btn_logout {
    background-color: aquamarine;
    border: black solid 1px;
    width : 150px;
    display : inline-block;
    margin-left : 20px;
    padding : 5px;
    border-radius : 3px;
    text-align:  center;
    text-decoration: none;
    text-shadow: gray;
}
.btn_logout {
    background-color: black !important;
    color : white;
}